/* We created the "className='app' in the.js file so we could access it
through this SELECTOR (".app") and give styling configs for everything inside its tag */
.app { 
    display: flex;
    flex-direction: column;
    align-items: center;

}